@import url("../../../../App.css");

.introduction {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
}

.downloadBtn {
  cursor: pointer;
  border: none;
  background-color: #333333;
  border-radius: 0.525rem;
  padding: 1rem 1.2rem;
  color: #ebebeb;
  font-size: 1.125rem;
}
