@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rosarivo:ital@0;1&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  --primary-family: "Roboto Mono", sans-serif, Arial;
  --secondary-family: "Rosarivo", serif, Arial;
  font-family: var(--primary-family);
  color: #333;
  overflow-x: hidden;
  background-color: whitesmoke;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  display: inline;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font-size: 1rem;
  font-family: var(--secondary-family);
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.4s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 2rem;
}

.title {
  font-size: 4rem;
  text-align: center;
  line-height: 1;
}

.title-section {
  font-size: 2.5rem;
  text-align: center;
}

.subtitle {
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 2rem;
}

@media (max-width: 875px) {
  .title {
    font-size: 2.2rem;
    margin-bottom: 0.8rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .title-section {
    font-size: 2rem;
  }
}

@media (max-width: 510px) {
  .title {
    font-size: 2rem;
    max-width: 300px;
  }

  .title-section {
    font-size: 1.8rem;
  }
}

@media (max-width: 356px) {
  .title {
    font-size: 2rem;
    max-width: 400px;
  }

  .title-section {
    font-size: 1.4rem;
  }
}

.c-white {
  color: white;
}

.p-5 {
  max-width: 920px;
}

.font-bold {
  font-weight: 900;
}
