@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rosarivo:ital@0;1&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  --primary-family: "Roboto Mono", sans-serif, Arial;
  --secondary-family: "Rosarivo", serif, Arial;
  font-family: var(--primary-family);
  color: #333;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  font-size: 1rem;
  font-family: var(--secondary-family);
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 2rem;
}
